.title_place_cover {
    margin-bottom: 32px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    width: 560px;
}

@media screen and (max-width: 680px) {
    .title_place_cover {
        font-size: 32px;
        line-height: 1.09;
        margin-bottom: 16px;
        width: 250px;
    }
}

