.cover__text {
    margin: 0;
    max-width: 350px;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
}

@media screen and (max-width: 460px) {
    .cover__text {
        font-size: 14px;
        line-height: 1.14;
    }
}

